.content {
    position: relative;
    margin-left: 34px;
    margin-top: 19px;
}
.list-title {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 3px;
}
.list-count {
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    right: 0px;
}