@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*, *:before, *:after {
  box-sizing: border-box
}
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  display: flex;
  margin: 0 auto;
  width: 665px;
}